# Archivos individuales
bitnami.css
dawr.rar
htdocs.rar
favicon.ico
applications.html
public_html/public/.env

# Carpetas
webalizer/
xampp/

#Esta carpeta no se debe eliminar
public_html/private/config/.env
public_html/private/.htaccess
public_html/private/private.zip
public_html/public/assets/archivos