.header {
    background-color: #8DA6C9;
}

.main__grid--sidebar{
    width: 60%;
    height: 100%;
}

#sidebar-nav {
    width: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

#resultado-busqueda-asesor {
    display: none;
    position: absolute;
    background-color: white;
    width: 39.15%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1000;
  }
  
  .resultado-busqueda {
    padding: 10px;
    cursor: pointer;
  }
  
  .resultado-busqueda:hover {
    background-color: #ddd;
  }